### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Celery stuff
celerybeat-schedule
celerybeat.pid

*/migrations/*
apps/*/migrations/*
!*/migrations/__init__.py
/.idea/*
*/production.env
/venv/

# Webpack stuff
webpack-stats.json
webpack-stats-prod.json

# Resources
/static
/media
# /dist
/iiko/log/*
