{% load static %}
{% load compress %}
{#<link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">#}
<link href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

{% compress css %}
    <link href="{% static 'assets/css/work.css' %}" rel="stylesheet">
    <link type="text/x-scss" href="{% static 'assets/css/work_base.scss' %}" rel="stylesheet">
{% endcompress %}
