{% extends 'admin/change_list.html' %}

{% block object-tools %}

    <link href="/static/blog/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/blog/css/blog.css" rel="stylesheet">
    <link href="/static/blog/css/fontawesome/all.min.css" rel="stylesheet">
    <link href="/static/blog/css/blog_base.css.map" rel="stylesheet">

    <div class="row my-4">
        <div class="col-auto">
            <a href="add/" class="btn btn-info text-white" type="submit">Добавить</a>
        </div>
        <div class="col-auto">
            <form action="add_counters/" method="POST">
                {% csrf_token %}
                <button class="btn btn-info" type="submit">Импортировать</button>
            </form>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
